- content_for :head do
  %title BettrAt - Get Better Faster


%dl.primary
  %dt.devices= link_to "Lorem Ipsum", '#'
  %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
  %dt.plans= link_to "Lorem Ipsum", '#'
  %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
  %dt.people= link_to "Lorem Ipsum", '#'
  %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

%dl.secondary
  %dt.sharing= link_to "Lorem Ipsum", '#'
  %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
  %dt.records= link_to "Lorem Ipsum", '#'
  %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
  %dt.tracking= link_to "Lorem Ipsum", '#'
  %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

.tertiary
  = link_to "Download <span>Whitepapers</span>", '#', :class => 'whitepapers'