!!! 5
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta( charset="utf-8" )
  %meta( http-equiv="X-UA-Compatible" content= "IE=edge,chrome=1" )
  %meta( name="viewport" content="width=device-width, initial-scale=1.0" )

  %link( rel="shortcut icon" href="/favicon.ico" )
  %link( rel="apple-touch-icon" href="/apple-touch-icon.png" )

  = stylesheet_link_tag "style.css?v=v2", :media => "all"
  = javascript_include_tag "libs/modernizr-1.7.min.js"
  = yield_content :head
  
%body#landing-layout

  #container
    %header
      %h1#logo= link_to '<span class="company">BettrAt</span> <span class="interest">Design</span>', '#'
      %h2#tagline Get better at your career, hobbies, and school subjects in one place
      
      #slideshow
        = link_to "Previous Slide", '#', :class => 'previous-slide control'
        = link_to "Next Slide", '#', :class => 'next-slide control'
        #slides
          .slide.slide-1= image_tag "landing_slides/slide_1.png"
          .slide.slide-2 Foo
          .slide.slide-3 Bar

      #call-to-action
        %h2 #{link_to "Schools", '#'} * #{link_to "Enterprise", '#'} * #{link_to "Publishers", '#'}
        = link_to "Find Us At <span>ASTD 2011</span>", '#', :class => 'cta cta-1'
        = link_to "Learn More", '#', :class => 'cta cta-2'

    #main( role="main" )= yield
    
    %footer
      .section.copyright
        %h3 &copy; 2011

      .section.company
        %h3 Company
        %ul
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'

      .section.social
        %h3 Social
        %ul
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'

      .section.links
        %h3 Links
        %ul
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
        
      .section.blog
        %h3 Blog
        %ul
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'
          %li= link_to "link", '#'

  = partial "footer_scripts"

</html>