.section.copyright
  %h3 &copy; 2011

.section.company
  %h3 Company
  %ul
    %li= link_to "About Us", 'about.html'
    %li= link_to "We're Hiring", 'hiring.html'
    %li= link_to "BetterAt Blog", '#'
    %li= link_to "Terms / Privacy Policy", '#'

.section.social
  %h3 Social
  %ul
    %li= link_to "Facebook", '#'
    %li= link_to "Twitter", '#'

.section.links
  %h3 Links
  %ul
    %li= link_to "Higher Education", '#'
    %li= link_to "K12 - Charter Schools", '#'
    %li= link_to "Enterprise Learning", '#'
    %li= link_to "For Publishers<br/> Product Tour", '#'