.section.copyright
  %h3 &copy; 2011

.section.company
  %h3 Company
  %ul
    %li= link_to "About Us", 'about.html'
    %li= link_to "Contact Us", 'contact.html'
    -# %li= link_to "We're Hiring", 'hiring.html'
    %li= link_to "BetterAt Blog", 'http://bettr.at/blog'
    %li= link_to "Terms / Privacy Policy", 'privacy.html'

.section.social
  %h3 Social
  %ul
    %li= link_to "Facebook", 'http://www.facebook.com/BetterAt'
    %li= link_to "Twitter", 'http://www.twitter.com/BetterAt'

.section.links
  %h3 Links
  %ul
    %li= link_to "Higher Education", 'schools.html'
    %li= link_to "K12 - Charter Schools", 'schools.html'
    %li= link_to "Enterprise Learning", 'enterprises.html'
    %li= link_to "For Publishers", 'publishers.html'
    %li= link_to "Product Tour", 'tour.html'