- content_for :head do
  %title BettrAt - Get Better Faster


%dl.primary
  %dt.devices= link_to "Use any device", '#'
  %dd BetterAt is ready to help you learn on the go, at your desk at home, in the office, or at school.
  
  %dt.plans= link_to "Curated plans", '#'
  %dd When there are a bazillion ways to get better at your interest, which do you pick?  Let our curated plans help you.
  
  %dt.people= link_to "Connect with others<br /> who share your interest", '#'
  %dd Learning from other people and teaching others is the best way to learn

%dl.secondary
  %dt.sharing= link_to "Share only what you want", '#'
  %dd Share only what you want to, and keep the rest private.
  
  %dt.records= link_to "Keep a record forever", '#'
  %dd Keep your record on BetterAt for as long as you want, and export it whenever you want to.
  
  %dt.tracking= link_to "Track your progress", '#'
  %dd You're busy trying to get better at lots of things.  We'll help you with personal reports.

.tertiary
  = link_to "Download <span>Whitepapers</span>", '#', :class => 'whitepapers'