!!! 5
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta( charset="utf-8" )
  %meta( http-equiv="X-UA-Compatible" content= "IE=edge,chrome=1" )
  %meta( name="viewport" content="width=device-width, initial-scale=1.0" )

  %link( rel="shortcut icon" href="/favicon.ico" )
  %link( rel="apple-touch-icon" href="/apple-touch-icon.png" )

  = stylesheet_link_tag "style.css?v=v2", :media => "all"
  = javascript_include_tag "libs/modernizr-1.7.min.js"
  = yield_content :head

%body#landing-layout

  #container
    %header
      %h1#logo= link_to '<span class="company">BettrAt</span>', '#'
      %ul#news.newsticker
        %li Accounting
        %li Adobe Design Suite
        %li Amateur Radio
        %li Archery
        %li Arithmetic
        %li Baseball
        %li Bass Guitar
        %li Camping
        %li Chinese Cooking
        %li Dancing
        %li Design
        %li Digital Photography
        %li Drawing
        %li Essay Writing
        %li Fishing
        %li Football
        %li French
        %li Geometry
        %li German
        %li Golf
        %li Guitar
        %li Harmonica
        %li Hindi
        %li Horseback Riding
        %li Italian
        %li Movie Production
        %li Piano
        %li Photography
        %li Programming
        %li Public Speaking
        %li Running
        %li Singing
        %li Soccer
        %li Songwriting
        %li Spanish
        %li Ultimate Frisbee
        %li Yodeling
        %li Your Career
        %li Writing
      %h2#tagline Get better at your career, hobbies, and school subjects in <span>one</span> place

      #slideshow
        = link_to "Previous Slide", '#', :class => 'previous-slide control'
        = link_to "Next Slide", '#', :class => 'next-slide control'
        #slides
          .slide.slide-1= image_tag "landing_slides/slide_1.png"
          .slide.slide-2= image_tag "landing_slides/slide_2.png"
          .slide.slide-3= image_tag "landing_slides/slide_3.png"

      #call-to-action
        %h2 #{link_to "Schools", '#'} · #{link_to "Enterprise", '#'} · #{link_to "Publishers", '#'}
        = link_to "Find Us At <span>ASTD 2011</span>", '#', :class => 'cta cta-1'
        -# = link_to "Learn More", '#', :class => 'cta cta-2'

    #main( role="main" )= yield

    %footer= partial "shared_footer"

  = partial "footer_scripts"

</html>